.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.services-wrapper {
    background-color: #fdf0e9;
    height: 100vh;
}

.services span {
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
}

.services p {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

h2 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
    width: 30%;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    width: 100%;
}

.card {
    width: 100%;
    padding: 72px 40px;
    vertical-align: middle;
    border: 1px solid #F3D1BF;
    border-radius: 6px 0px 0px 6px;
}

.shape {
    width: 80px;
    height: 80px;
    background: #EF6C57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* svg{
display: inline;

} */

h3 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    margin-top: 15px;
    margin-bottom: 10px;
}

a{
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
    margin-top: 15px; 
}