.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.services-wrapper {
    background-color: #fdf0e9;
    /* height: 100vh; */
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.services span {
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
}

.services p {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
}

h2 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
    width: 30%;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    width: 100%;
}

.card {
    width: 100%;
    padding: 72px 40px;
    vertical-align: middle;
    border: 1px solid #F3D1BF;
    border-radius: 6px 0px 0px 6px;
}

.shape {
    width: 80px;
    height: 80px;
    background: #EF6C57;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


h3 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    margin-top: 15px;
    margin-bottom: 10px;
}

a {
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #391400;
    margin-top: 15px;
}

/* Portfolio section start */
.portfolio-wrapper {
    background-color: #fdf0e9;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.portfolio-top {
    background-image: url("../Images/Bitmap.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1140px;
    height: 720px;
    position: relative;
}

.align {
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.align h3, .align h2 {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
}

.align h2{
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 38px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 20px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
}

.portfolio-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-card {
    width: 560px;
    height: 416px;
    position: relative;
}

.first {
    background-image: url("../Images/Bitmap1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.second {
    background-image: url("../Images/Bitmap2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.third {
    background-image: url("../Images/Bitmap3.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.fourth {
    background-image: url("../Images/Bitmap4.png");
    background-size: contain;
    background-repeat: no-repeat;
}